@CHARSET "UTF-8";

body {
	border: 1px solid yellow;
	background-color: #183C52;
	padding: 0;
	margin: 0;
	width: 1000px;
	height: 1200px;
	font-size: 30px;
	font-weight: normal;
}

.maxmain {
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid red;
}

.normalmain{
	width: 600px;
	margin: 0 auto;
	border: 1px solid red;
}

.noGap {
	border: 1px solid blue;
	margin: 0px;
	/*保证span之间无空格*/
	float: left;
}

.simple {
	width: 300px;
	height:100px;
	margin: 20px 10px;
	border: 1px solid red;
	box-sizing: border-box; 
}

.fancy {
	width: 300px;
	height:100px;
	margin: 20px 10px;
	padding: 50px;
	border: 1px solid red;
	border-width: 10px;
	box-sizing: border-box; 
}